/* CSS Document */
/* Generic styling */



*,html{
  box-sizing: border-box;
  font-family:sans-serif;
  margin:0;
  padding:0;
} 

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size:1.25em;
  
}
h1 {


}
h2 {
  
}
p {
  font-weight: 300;
}
ul {
  
}
li {
  
} 
a {
  
}
a:link {
  
}
a:visited {
  
}
a:hover, a:focus {
  
}
a:active {
  
}
button {
  
}

/* form styling */
form {
  
}
  fieldset {

  }
    legend {

    }
    label {

    }
    input {

    }
    input:invalid {

    }

/* Section styling */
header {
  
}
  header h1 {

  }

main {

}
  main button {

  }
section {
  
}
  section header {

  }
  section h2 {

  }
article {
  
}
  article header {

  }
  article h3 {

  }
  article footer {
  
  }

aside {
  
}

footer {
  
}

/* https://www.youtube.com/watch?v=MR2xuIy6V7g&ab_channel=DeltatyCode*/

.wrapper nav{
  height: 100vh;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #d3817a;
  transition: all 0.7s ease;
  clip-path: circle(0% at 40px 30px);
}

.wrapper #check {display: none;}
.wrapper .open{
  font-size: 2rem;
  position: absolute;
  top:10px;
  right:10px;
  cursor: pointer;
  background: #d3817a;
  color:#fff;
  padding:12px;
  clip-path: circle();
}

.wrapper nav .close{
  font-size: 2rem;
  position: absolute;
  top:20px;
  right:20px;
  cursor: pointer;
  color:#fff;
}

.wrapper nav ul{
 list-style: none;
}

.wrapper nav ul li a{
  display: block;
   font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem;
  padding: 20px;
  text-align: left;
  color:#fff;

}



.wrapper nav ul li a::after{
  content: '';
  display: block;
  width:0;
  height: 2px;
  transition: 0.3s ease;
  background: #fff;
  }

  .wrapper nav ul li a:hover::after{
  width: 100%;
  }

  .wrapper #check:checked ~ nav {
    clip-path: circle(100%);
    
  }





 #intro {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 64, 61);
  padding:6em 1em 2em 1em;
  
}

#intro h1{
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 0.8;
  letter-spacing: 0.3;
  font-size: 4.4em;
  margin:0 0 0.4em 0;
  color:white;
}

#intro p{
  color:white;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0 0 1.4em;
  font-weight: 200;
}

#intro img{
 width: 98%;
 height: 20%;
position: relative;
transition: opacity 0.5s cubic-bezier(0.26, 1.04, 0.54, 1);
opacity: 1;

}

#intro .flex-container{
  display: flex;
  justify-content: center;
  align-items:flex-end;
  margin-bottom: -100px;
  z-index: 2;
}

#who-are_we{
  margin-top: 100px;
  padding:6em 1em 2em 1em;
}

#who-are_we blockquote {
  text-transform: uppercase;
  font-size: 1.5em;
  line-height: 1.1;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  margin: 0 0 0.5em 0;

}

#who-are_we h3 {
  text-transform: uppercase;
  font-size: 0.5em;
  margin:0 0 0.3em 0;
  line-height: 1.1;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;

}










/* Breakpoints */
@media all and (min-width: 30em) {
  
}

@media all and (min-width: 60em) {
  
}

@media all and (min-width: 90em) {
  
}

