/* CSS Document */
/* Generic styling */
*,html{
  box-sizing: border-box;
  font-family:sans-serif;
  margin:0;
  padding:0;
} 

body {
  font-family: 'Source Sans Pro', arial,sans-serif;
  font-size:1.25em;
  
}
h1 {
   font-family: 'Source Sans Pro', arial,sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 0.8;
  letter-spacing: -7px;
  font-size: 4.1em;

}
h2 {
  text-transform: uppercase;
  font-size: 1.4em;
  margin:0 0 0.5em 0;
  line-height: 1.1;
  font-family: 'Source Sans Pro', arial,sans-serif;
  font-weight: 600;
  text-decoration: none;
}

h3{
  text-transform: uppercase;
  font-size: 0.5em;
  margin:0 0 0.3em 0;
  line-height: 1.1;
  font-family: 'Source Sans Pro', arial,sans-serif;
  font-weight: 200;
}

h4{

}
p {
  font-weight: 200;
  line-height: 1.4em;
  letter-spacing: 0.01em;
  font-size: 1em;
  max-width: 40em;
}
ul {
  
}
li {
  
} 
a {
  text-decoration:none;
  color:white;
}
a:link {
  
}
a:visited {
  
}
a:hover, a:focus {
 text-decoration:none;
color: #d3817a;
}
a:active {
  
}
button{
  background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
  background-color:#c62d1f;
  border-radius:1em;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  border: 0.1em red;
  font-family: 'Source Sans Pro', arial,sans-serif;
  font-size:1em;
  padding:0.5em 1.5em;
  text-decoration:none;
}
button:hover {
  background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
  background-color:#f24437;
}
button:active {
  position:relative;
  top:0.2em;
}

.flex-container{
  display: flex;
  justify-content: center;
  align-items:flex-end;
  margin-bottom: -100px;
  z-index: 2;
}

/****************************
        Start Menu
*****************************/



/* https://www.youtube.com/watch?v=MR2xuIy6V7g&ab_channel=DeltatyCode*/


.wrapper-none{

}
.wrapper nav{
  height: 100vh;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
 
  background: #d3817a;
  transition: all 0.7s ease;
  clip-path: circle(0% at 97% 40px);
  z-index: 11;
  position: fixed;
}

.wrapper #check {
  display: none;
}
.wrapper .open{
  font-size: 1.5em;
  position: absolute;
  top:0.8em;
  right:0.9em;
  cursor: pointer;
  background: #d3817a;
  color:#fff;
  padding:0.5em;
  clip-path: circle();
  position: fixed;
  z-index: 10;

}

.wrapper nav .close{
  font-size: 1.5em;
  position: absolute;
  top:1.1em;
  right:1.3em;
  cursor: pointer;
  color:#fff;
}

.wrapper nav ul{
 list-style: none;
}

.wrapper nav ul li a{
  display: block;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5em;
  padding: 0.8em;
  text-align: left;
  color:#fff;

}

.wrapper nav ul li a::after{
  content: '';
  display: block;
  width:0;
  height: 0.1em;
  transition: 0.3s ease;
  background: #fff;

  }
  .wrapper nav ul li a:hover::after{
  width: 100%;
  }

  .wrapper #check:checked ~ nav {
    clip-path: circle(100%);
    
  }

/****************************
         End Menu
*****************************/
/****************************
    Start intro section
*****************************/

.basic-img, .basic-img1{
width: 17em;
 height: 20%;
position: relative;
opacity: 1;
-webkit-box-shadow: 0px 5px 15px 0px rgba(76,76,76,0.26); 
box-shadow: 0px 5px 15px 0px rgba(76,76,76,0.26);
}


 #intro {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 64, 61);
  padding:4em 1em 2em 1em;

  
}

#intro h1{
  position: relative;
  color:white;
}

#intro p{
  color:white;
   font-family: 'Source Sans Pro', arial,sans-serif;
  margin: 0 0 1.4em;
  font-weight: 200;
}



/****************************
    End intro section
*****************************/

/****************************
  Start who are we section
*****************************/

#who-are_we,#commercial_connectivity{
  display: flex;
  flex-direction: column;
  padding:5em 1em 2em 1em;
}




 blockquote {
  text-transform: uppercase;
  font-size: 1.5em;
  line-height: 1.1;
   font-family: 'Source Sans Pro', arial,sans-serif;
  font-weight: 600;
  margin: 0 0 0.5em 0;

}


#who-are_we p,#commercial_connectivity p {
 margin: 4em 0em;

}

/****************************
  End who are we section
*****************************/

/****************************
  Start food quality section
*****************************/

#food_quality{
   background: #d3817a;
   padding:6em 1em 2em 1em;
}


#food_quality blockquote{
margin: 4em 0 0 0.5em;
}


.slideshow-container {
  width:15em;
  margin: 3em;
  max-width: 29em;
  position: relative;
  margin: auto;
}


.slide {
  display: none;
}

.first{
    display: block;
}

.slide img{
  width:100%;
}

.prev, .next {
  color:black;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 5px;
  font-weight: 200;
  font-size: 18px;
  transition: 0.6s ease;
  border-bottom:1px solid #000;

}

.prev{
  left:-2em;
}

.next{
  right:-2em;
}

.slider-text-container{
  display: flex;
  flex-direction: column;
 text-align: center;
 margin: 1em 1em 2em 1em;
}

/****************************
  End food quality section
*****************************/

/****************************
  Start commercial connectivity section
*****************************/

#commercial_connectivity .flex-container{
  margin-bottom: 0;
}

/****************************
  End commercial connectivity section
*****************************/

/****************************
  Start contact page
*****************************/

#contact-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  background: #d3817a;

}
.form-cointainer{
  display: flex;
  flex-direction: column;
  max-width:20em;
  width:100%;
 
}

#contact{
 padding-left:0em;
}

.img-contact{
  margin: 2em 0 2em 0em;
  width: 17em;
  height: 20%;
-webkit-box-shadow: 0px 5px 15px 0px rgba(76,76,76,0.26); 
box-shadow: 0px 5px 15px 0px rgba(76,76,76,0.26);
}

input,textarea{
  max-width: 40em;
  width: 100%;
  padding: 1.3em;
  box-sizing: border-box;
  margin-bottom: 1.5em;
  border: 0;
  font-size: 0.7em;
  border-radius: 0.3em;
  outline: none;
}

textarea{
 
  height:10em; 
}

input:focus{
  border: 0.1em solid #486255;
}

fieldset{
  border:0;
}

/****************************
  End contact page
*****************************/

/****************************
  Start footer
*****************************/

.contain{
  background-color:rgb(0, 64, 61);
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 5em 1em 2em 2em;


}

.col{
  color: white;
  flex: 20%;
  padding: 1em;

  
}

.col h1 {
  padding-bottom: 0.5em;
  font-size: 2em;
  letter-spacing: 0.01em;
  margin-left:0;
}

.col li {
  list-style-type: none;
}

/****************************
  End footer
*****************************/



/* Breakpoints */
@media all and (min-width: 30em)and (max-width: 60em){
  
/* Generic styling */
  p {
  letter-spacing: 0.01em;
  max-width: 30em;
  margin-left: 2em;
  
}

blockquote{
  max-width: 25em;
  margin: 0.5em 0 0 2em;
}

/****************************
    Start intro section
*****************************/


  #intro, .quote2, .slider-text-container {
    justify-content: center;
    align-items: center;

  }

  #intro h1 {
  width: 80%;
  font-size: 6em;
  
}

#intro p{
  width: 80%;
  margin: 0.5em 0 0 0em;
  

}
 #intro img {
width: 15em;
margin-top: 3em;
}

/****************************
    End intro section
*****************************/

/****************************
    Start who are we section
*****************************/

  #who-are_we p,#commercial_connectivity p  {
  margin: 0.5em 0 0 2em;
  padding: 0em 1em 2em 1em;
}

/****************************
    Start who are we section
*****************************/


/****************************
    Start footer
*****************************/

.contain{
  flex-direction: row;
  align-items: left;
  padding: 5em 1em 2em 1em;


}

.col{
  flex: 20%;
  padding: 1em;

  
}

.col h1 {
  padding-bottom: 0.5em;
  font-size: 1.3em;
  letter-spacing: 0.01em;
  margin-left:0;
}

.col li {
  list-style-type: none;
}

/****************************
        Endfooter
*****************************/
  
}

@media all and (min-width: 60em) {

  p {
  font-weight: 300;
  line-height: 1.4em;
  letter-spacing: 0.01em;
  max-width: 30em;
  margin-left: 2em;

  
}

h1{
max-width: 25em;
margin-left: 2em;

}



blockquote{
  max-width: 25em;
  margin: 0.5em 0 0 2em;
}


.basic-img, .basic-img1{
  height:auto;
}

.quote_p{
  display: flex;
  flex-direction: column;
}

.container_desktop{
  display: flex;
  flex-direction: row;
}

/****************************
    Start intro section
*****************************/

  #intro, .quote2, .slider-text-container {
    justify-content: center;
    align-items: center;

  }

  #intro h1{
  width: 60%;
  font-size: 9em;
  margin: 0em 0 0 0em;
}

#intro p{
  
  margin: 3em 38em 1.4em 0em;

}
 #intro img {
width: 25em;
margin-top: -10em;
}

/****************************
    end intro section
*****************************/

/****************************
  Srart who are we section
*****************************/

#who-are_we img,#commercial_connectivity img{
  margin: 0;
}



#who-are_we,#commercial_connectivity{
  max-width:70em;
  padding: 8em 0 10em 0;
}

#who-are_we p,#commercial_connectivity p{
  margin:2em;
  padding: 0em 1em 2em 1em;
}


.quote_img_container{
  display: flex;
  flex-direction: row;
 text-align: left;
 margin: 4em 1em 0 4em;
}

.quote2{
margin-left: 2em;
}

/****************************
  end who are we section
*****************************/


/****************************
  start food quality section
*****************************/
#food_quality{
margin-top: 0;
}


#food_quality blockquote{
margin: 4em 1em 0 4em;
}

/****************************
  End food quality section
*****************************/

/****************************
  Start contact section
*****************************/

#contact-block{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5em;
  background: #d3817a;

}


.form-cointainer{
  display: flex;
  flex-direction: column;
  max-width:20em;
  width:100%;
 
}

#contact{
 padding-left:5em;
}

.img-contact{
  padding-left: 0em;
  width: 25em;
}

input,textarea{
  max-width: 40em;
  width: 100%;
  padding: 1.3em;
  box-sizing: border-box;
  margin-bottom: 1.5em;
  border: 0;
  font-size: 0.7em;
  border-radius: 0.3em;
  outline: none;
}

textarea{
 
  height:10em; 
}

input:focus{
  border: 2px solid #486255;
}

fieldset{
  border:0;
}

/****************************
  End contact section
*****************************/
 
 /****************************
  Srart footer
*****************************/

.contain{
  background-color:rgb(0, 64, 61);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5em 3em 5em 5em;


}

.col{
  color: white;
  flex: 20%;
  padding: 1em;

  
}

.col h1 {
  padding-bottom: 0.5em;
  font-size: 2em;
  letter-spacing: 0.01em;
  margin-left:0;
}

.col li {
  list-style-type: none;
}

/****************************
  End footer footer
*****************************/


}







