/* CSS Document */
/* Generic styling */



*,html{
  box-sizing: border-box;
  font-family:sans-serif;
  margin:0;
  padding:0;
} 

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size:1.25em;
  
}
h1 {
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 0.8;
  letter-spacing: -7px;
  font-size: 4.1em;

}
h2 {
  text-transform: uppercase;
  font-size: 1.4em;
  margin:0 0 0.5em 0;
  line-height: 1.1;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  text-decoration: none;
}

h3{
  text-transform: uppercase;
  font-size: 0.5em;
  margin:0 0 0.3em 0;
  line-height: 1.1;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
}
p {
  font-weight: 200;
  line-height: 1.4em;
  letter-spacing: 0.01em;
  font-size: 18px;
  max-width: 40em;
}
ul {
  
}
li {
  
} 
a {
  
}
a:link {
  
}
a:visited {
  
}
a:hover, a:focus {
  
}
a:active {
  
}
button {
  
}

/* form styling */
form {
  
}
  fieldset {

  }
    legend {

    }
    label {

    }
    input {

    }
    input:invalid {

    }

/* Section styling */
header {
  
}
  header h1 {

  }

main {

}
  main button {

  }
section {
  
}
  section header {

  }
  section h2 {

  }
article {
  
}
  article header {

  }
  article h3 {

  }
  article footer {
  
  }

aside {
  
}

footer {
  
}

/* https://www.youtube.com/watch?v=MR2xuIy6V7g&ab_channel=DeltatyCode*/
.wrapper-none{

}
.wrapper nav{
  height: 100vh;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
 
  background: #d3817a;
  transition: all 0.7s ease;
  clip-path: circle(0% at 40px 30px);
  z-index: 11;
  position: fixed;
}

.wrapper #check {
  display: none;}
.wrapper .open{
  font-size: 2rem;
  position: absolute;
  top:10px;
  right:15px;
  cursor: pointer;
  background: #d3817a;
  color:#fff;
  padding:12px;
  clip-path: circle();
  position: fixed;
  z-index: 10;

}

.wrapper nav .close{
  font-size: 2rem;
  position: absolute;
  top:20px;
  right:20px;
  cursor: pointer;
  color:#fff;
}

.wrapper nav ul{
 list-style: none;
}

.wrapper nav ul li a{
  display: block;
   font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem;
  padding: 20px;
  text-align: left;
  color:#fff;

}



.wrapper nav ul li a::after{
  content: '';
  display: block;
  width:0;
  height: 2px;
  transition: 0.3s ease;
  background: #fff;

  }

  .wrapper nav ul li a:hover::after{
  width: 100%;
  }

  .wrapper #check:checked ~ nav {
    clip-path: circle(100%);
    
  }


.basic-img, .basic-img1{
width: 17em;
 height: 20%;
position: relative;
opacity: 1;
-webkit-box-shadow: 0px 5px 15px 0px rgba(76,76,76,0.26); 
box-shadow: 0px 5px 15px 0px rgba(76,76,76,0.26);
}


 #intro {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 64, 61);
  padding:4em 1em 2em 1em;

  
}

#intro h1{
  position: relative;
  margin:0 0 0.4em 0;
  color:white;
}

#intro p{
  color:white;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0 0 1.4em;
  font-weight: 200;
}


 .flex-container{
  display: flex;
  justify-content: center;
  align-items:flex-end;
  margin-bottom: -100px;
  z-index: 2;
}

#who-are_we{
  display: flex;
  flex-direction: column;
 
  padding:5em 1em 2em 1em;
}




 blockquote {
  text-transform: uppercase;
  font-size: 1.5em;
  line-height: 1.1;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  margin: 0 0 0.5em 0;

}

#who-are_we h3 {
  

}

#who-are_we p {
 margin: 4em 0em;

}

#healthier_people{
   background: #d3817a;
   padding:6em 1em 2em 1em;
}

#healthier_people p {
  
}


.slideshow-container {
  width:15em;
  margin: 3em;
  max-width: 29em;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.slide {
  display: none;
}

.first{
    display: block;
}

.slide img{
  width:100%;
}

/* Next & previous buttons */
.prev, .next {
  color:black;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 5px;
  font-weight: 200;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
  border-bottom:1px solid #000;

}

.prev{
  left:-2em;
}

.next{
  right:-2em;
}

.slider-text-container{
  display: flex;
  flex-direction: column;
 text-align: center;
 margin: 1em 1em 2em 1em;
}

#healthier_people blockquote{
margin: 4em 0 0 0.5em;
}





/* Breakpoints */
@media all and (min-width: 30em) {
  
  
}

@media all and (min-width: 60em) {

  p {
  font-weight: 300;
  line-height: 1.4em;
  letter-spacing: 0.01em;
  max-width: 30em;
  margin-left: 2em;

  
}

h1{
max-width: 25em;
margin-left: 2em;

}



blockquote{
  max-width: 25em;
  margin: 0.5em 0 0 2em;
}

.flex-container_desk{
 
  margin-bottom: 0;
}

.basic-img, .basic-img1{
  height:auto;
}

  #intro, .quote2, .slider-text-container {
    justify-content: center;
    align-items: center;

  }

  #intro h1{
  width: 60%;
  font-size: 9em;
  margin: 0.5em 0 0 0em;
}

#intro p{
  
  margin: 3em 38em 1.4em 0em;

}
 #intro img {
width: 25em;
margin-top: -10em;
}

.container_desktop{
  display: flex;
  flex-direction: row;
}

.quote_p{
  display: flex;
  flex-direction: column;
}

#who-are_we img{
  margin: 0;
}



#who-are_we {
  max-width:70em;
  padding: 8em 0 10em 0;
}

#who-are_we p  {
  margin:2em;
  padding: 0em 1em 2em 1em;
}


.quote_img_container{
  display: flex;
  flex-direction: row;
 text-align: left;
 margin: 4em 1em 0 4em;
}

.quote2{
margin-left: 2em;
}



#healthier_people{
margin-top: 0;
}


#healthier_people blockquote{
margin: 4em 1em 0 4em;
}

footer{
  display: flex;
  flex-direction: row;
}




}





@media all and (min-width: 90em) {
  
}

